#group:after {
  content: "";
  display: table;
  clear: both;
}

#scrollY {
  @extend #scrollTouch;
  overflow-y: scroll;
  overflow-x: hidden;
}

#scrollX{
  @extend #scrollTouch;
  overflow-y: hidden;
  overflow-x: scroll;
}

#scrollXY{
  @extend #scrollTouch;
  overflow-y: scroll;
  overflow-x: scroll;
}

#scrollTouch{
  -webkit-overflow-scrolling: touch;
}
