body {
  overflow-x: hidden;

  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

$header: 50px;

header {
  @include pos(0, 0, auto, 0);
  height: $header;
  background: #10151B;

  h1 {
    float: left;
    width: 30%;
    margin: 0 5%;
    text-align: center;
    line-height: $header;

    color: #26A98B;
    font-size: 20px;
    font-family: monospace;
  }

  .dropdown {
    float: left;
    width: 30%;
    margin-top: 13px;

    select {
      max-width: 200px;
      margin-left: 20px;
    }
  }

  .dropdown:last-child select {
    float: right;
    margin-right: 20px;
  }
}

.source {
  @include pos($header, auto, 0, 0);
  width: 50%;

  font-family: monospace;
  font-size: 14px;
  line-height: 21px;

  box-sizing: border-box;
  padding: 20px;
  margin: 0;

  border: 0;
  outline: 0;
  background: #0A0F14;
  color: #EEE4FC;
}

.output {
  @include pos($header, 0, 0, auto);
  width: 50%;

  font-family: monospace;
  font-size: 14px;
  line-height: 21px;

  box-sizing: border-box;
  padding: 20px;
  margin: 0;

  border: 0;
  outline: 0;
  background: #081F2D;
  color: #599BB4;
}
