body {
  overflow-x: hidden;

  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

$header: 50px;

header {
  @include pos(0, 0, auto, 0);
  height: $header;
  background: #DCC4EA;
  color: #55286D;

  h1 {
    float: left;
    width: 30%;
    margin: 0 5%;
    text-align: center;
    line-height: $header;

    font-size: 20px;

  }

  select {
    float: left;
    width: 30%;
  }
}

.source {
  @include pos($header, auto, 0, 0);
  width: 50%;

  font-family: monospace;
  font-size: 14px;
  line-height: 21px;

  box-sizing: border-box;
  padding: 20px;
  margin: 0;

  border: 0;
  background: #1A1423;
  color: #EEE4FC;
}

.output {
  @extend #scrollXY;
  @include pos($header, 0, 0, auto);
  width: 50%;

  font-family: monospace;
  font-size: 14px;
  line-height: 21px;
  white-space: pre;

  box-sizing: border-box;
  padding: 20px;

  background: #302442;
  color: #599BB4;
}
